<!DOCTYPE html>
<html lang="en" ng-app="visualTree">
<head>
    <meta charset="UTF-8">
    <title>VisualTree</title>

    <script src="../bower_components/loglevel/dist/loglevel.js"></script>
    <script src="../bower_components/d3/d3.js"></script>
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/lodash/lodash.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="../bower_components/angular/angular.js"></script>

    <script src="config.js"></script>
    <script src="common/height.js"></script>
    <script src="SNC.js"></script>
    <script src="BTreePresenter.js"></script>

    <script src="bst/BSTNode.js"></script>
    <script src="bst/BSTree.js"></script>

    <script src="heap/Heap.js"></script>

    <script src="rb/RBNode.js"></script>
    <script src="rb/RBTree.js"></script>

    <script src="splay/SplayNode.js"></script>
    <script src="splay/SplayTree.js"></script>
    
    <script src="main.js"></script>

    <link rel="stylesheet" type="text/css" href="style.css"/>
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap-theme.css"/>
</head>

<body ng-controller="MainCtrl as vm">

<div class="container">

    <!-- from bootstrap docs -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                </button>
                <a class="navbar-brand" href="#">VisualTree</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li ng-class="{active: vm.treeType === 'bst'}">
                        <a href ng-click="vm.setTreeType('bst')">BST</a>
                    </li>

                    <li ng-class="{active: vm.treeType === 'heap'}">
                        <a href ng-click="vm.setTreeType('heap')">Heap</a>
                    </li>

                    <li ng-class="{active: vm.treeType === 'rbt'}">
                        <a href ng-click="vm.setTreeType('rbt')">Red-black tree</a>
                    </li>
                    
                    <li ng-class="{active: vm.treeType === 'splay'}">
                        <a href ng-click="vm.setTreeType('splay')">Splay tree</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="row" id="content">
        <div class="col-md-8">
            <div class="row tree-controls" >
                <div class="col-md-10 col-md-push-1">
                    <form class="form-inline" ng-show="vm.treeType === 'bst'">
                        <div class="form-group">
                            <label for="number">Number:</label>
                            <input type="text" class="form-control" id="number" ng-model="vm.number">
                        </div>

                        <button type="button" id="add" class="btn btn-success" ng-click="vm.add()">Add</button>
                        <button type="button" id="delete" class="btn btn-warning" ng-click="vm.delete()">Delete</button>
                        <button type="button" id="inorder" class="btn btn-default" ng-click="vm.inorder()">Inorder
                        </button>
                        <button type="button" id="preorder" class="btn btn-default" ng-click="vm.preorder()">Preorder
                        </button>
                        <button type="button" id="postorder" class="btn btn-default" ng-click="vm.postorder()">Postorder
                        </button>
                    </form>
                    <form class="form-inline" ng-show="vm.treeType === 'heap'">
                        <div class="form-group">
                            <label for="number">Number:</label>
                            <input type="text" class="form-control" id="number" ng-model="vm.number">
                        </div>

                        <button type="button" id="add" class="btn btn-success" ng-click="vm.add()">Add</button>
                        <button type="button" id="deleteMin" class="btn btn-warning" ng-click="vm.deleteMin()">
                            Delete-min
                        </button>
                    </form>
                    <form class="form-inline" ng-show="vm.treeType === 'rbt'">
                        <div class="form-group">
                            <label for="number">Number:</label>
                            <input type="text" class="form-control" id="number" ng-model="vm.number">
                        </div>

                        <button type="button" id="add" class="btn btn-success" ng-click="vm.add()">Add</button>
                    </form>
                    <form class="form-inline" ng-show="vm.treeType === 'splay'">
                        <div class="form-group">
                            <label for="number">Number:</label>
                            <input type="text" class="form-control" id="number" ng-model="vm.number">
                        </div>

                        <button type="button" id="add" class="btn btn-success" ng-click="vm.add()">Add</button>
                        <button type="button" id="splay" class="btn btn-default" ng-click="vm.find()">Find</button>
                    </form>
                    
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12" id="svg-container">
                    <svg width="42" height="13"> <!-- size is being set in JS -->
                    </svg>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <form class="form-inline">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" ng-click="vm.togglePlay()">
                        {{ vm.isPlaying ? 'Stop' : 'Play' }}
                        <span ng-show="vm.isPlaying" class="glyphicon glyphicon-stop" aria-hidden="true"></span>
                        <span ng-show="!vm.isPlaying" class="glyphicon glyphicon-play" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default" ng-click="vm.previous()">
                        <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default" ng-click="vm.next()">
                        <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                    </button>
                </div>
                <label for="delay">Delay (ms)</label>
                <input type="text" id="delay" class="form-control" ng-model="vm.delay"/>
            </form>
            <table class="table table-condensed" id="explanation">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Description</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="e in vm.currentSnapshots" 
                    ng-class="{'success': vm.currentSnapshotIndex === $index}" 
                    ng-click="vm.setSelectedSnapshot($index)">
                    <td>{{ $index }}</td>
                    <td>{{ e.text }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
</body>
</html>