line {
    stroke: #777777;
    stroke-width: 4px;
}
svg {
    border: 1px solid black;
    margin: 10px auto;
    display: block;
}

#explanation {
    cursor: default;
}

html, body {
    min-height: 100%; /* this is needed for gradient to extend to the bottom */
}

body {
    background: linear-gradient(rgb(234,234,234), rgb(252,252,252), rgb(252,252,252));
}