line {
    stroke: black;
    stroke-width: 4px;
}
svg {
    border: 1px solid black;
    margin-top: 10px;
}

#explanation {
    font-size: 20pt;
    font-family: monospace;
}

html, body {
    height: 100%; /* this is needed for gradient to extend to the bottom */
}

body {
    background: linear-gradient(rgb(234,234,234), rgb(252,252,252), rgb(252,252,252));
}