line {
    stroke: #777777;
    stroke-width: 4px;
}
svg {
    border: 1px solid #aaaaaa;
    margin: 0px auto;
    display: block;
}

#explanation {
    cursor: default;
}

html, body {
    min-height: 100%; /* this is needed for gradient to extend to the bottom */
    height: 100%;
}

.container {
    height: 100%;
}

#content {
    height: 90%;
}

body {
    background: linear-gradient(rgb(234,234,234), rgb(252,252,252), rgb(252,252,252));
}

.tree-controls {
    margin-bottom: 20px;
}